BankInterfaceEJB/ejbModule/META-INF/BETXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-03/09/2011 06:46 PM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> -->
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://bet.xml.datacentre.co.zw" xmlns:tns="http://bet.xml.datacentre.co.zw" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
    	<xs:documentation>XML Schema for ZB Bank Interface ISO Messages.
Use Standard ISO 8583 for field definitions
See http://en.wikipedia.org/wiki/ISO_8583 for reference.
Author: Emmanuel Gwarimbo egwarimbo@datacentre.co.zw</xs:documentation></xs:annotation>
    <xs:element name="messages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="tns:MetaData" minOccurs="0"/>
        <xs:element name="isoMsg" type="tns:ISOMsg"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ISOMsg">
    <xs:sequence>
      <xs:element name="field" type="tns:ISOMsgField" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="mti" type="xs:string"/>
    <xs:attribute name="retrievalReference" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ISOMsgField">
    <xs:sequence>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="MetaData">
    <xs:sequence>
      <xs:element name="postingBranch" type="xs:string"/>
      <xs:element name="replyQueue" type="xs:string"/>
      <xs:element name="source" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="isoFieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String"/>
      <xs:enumeration value="Number"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

